doctype html
html
	head
		meta(charset= "utf-8")
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="../libs/owl.carousel.css")
		link(rel="stylesheet" href="../libs/magnific.css")
		link(rel="stylesheet" href="../libs/normalize.css")
		title Mishka
	body
		.main
			header
				.navbar
					a.navbar-tablet(href="catalog.html") Каталог товаров
					span.navbar-tablet
					a.navbar-tablet(href="form.html") Вязание на заказ
					a(href="#")
						picture
							source(media="(max-width: 600px)" srcset="../img/svg/mishka-logo-mobile.svg")
							source(media="(max-width: 800px)" srcset="../img/svg/mishka-logo-tablet.svg")
							img(class="logo" src="../img/svg/mishka-logo-desktop.svg" alt="mishka")
					span
					a(href="#")
						<svg viewBox="0 0 35 35" width="35" height="35"><path d="M35.2 32.8C35.2 34.02 34.21 35 33 35C32.29 35 31.86 34.74 31.46 34.34L24.62 27.51C22.05 29.44 18.86 30.6 15.4 30.6C6.89 30.6 0 23.71 0 15.2C0 6.69 6.89 -0.2 15.4 -0.2C23.9 -0.2 30.8 6.69 30.8 15.2C30.8 18.67 29.64 21.85 27.71 24.43L34.54 31.26C35.08 31.8 35.2 32.32 35.2 32.8ZM15.4 26.2C21.47 26.2 26.4 21.28 26.4 15.2C26.4 9.12 21.47 4.2 15.4 4.2C9.32 4.2 4.4 9.12 4.4 15.2C4.4 21.28 9.32 26.2 15.4 26.2Z" /></svg>
					span
					a(href="#") Корзина: пока пуста
						<svg viewBox="0 0 41 38" width="41" height="38"><path d="M40.59 16.26C40.59 17.09 39.92 17.76 39.09 17.76L38.78 17.76L37.07 23.74C37.44 24.01 37.7 24.43 37.7 24.93C37.7 25.72 37.08 26.35 36.3 26.41L32.99 38L7.6 38L4.29 26.41C3.51 26.35 2.89 25.72 2.89 24.93C2.89 24.43 3.15 24.02 3.53 23.74L1.82 17.76L1.5 17.76C0.67 17.76 0 17.09 0 16.26C0 15.43 0.67 14.76 1.5 14.76L7.8 14.76L14.62 1.13C14.99 0.39 15.89 0.09 16.63 0.46C17.37 0.83 17.67 1.73 17.3 2.47L11.16 14.76L29.43 14.76L23.29 2.47C22.92 1.73 23.22 0.83 23.96 0.46C24.7 0.09 25.6 0.39 25.97 1.13L32.79 14.76L39.09 14.76C39.92 14.76 40.59 15.43 40.59 16.26ZM33.18 26.43L7.41 26.43L9.86 35L30.73 35L33.18 26.43ZM35.66 17.76L4.94 17.76L6.56 23.43L34.03 23.43L35.66 17.76Z" /></svg>
					label.popup_button(for="popupCheckboxOne")
						#hamburger
							span
							span
							span
						#cross
							span
							span
					input(type="checkbox" class="popup-checkbox" id="popupCheckboxOne")
					.popup
						.popup-content
							a(href="catalog.html") Каталог товаров
							a(href="form.html") Вязание на заказ
							a(href="#") Поиск по сайту
								<svg viewBox="0 0 35 35" width="35" height="35"><path d="M35.2 32.8C35.2 34.02 34.21 35 33 35C32.29 35 31.86 34.74 31.46 34.34L24.62 27.51C22.05 29.44 18.86 30.6 15.4 30.6C6.89 30.6 0 23.71 0 15.2C0 6.69 6.89 -0.2 15.4 -0.2C23.9 -0.2 30.8 6.69 30.8 15.2C30.8 18.67 29.64 21.85 27.71 24.43L34.54 31.26C35.08 31.8 35.2 32.32 35.2 32.8ZM15.4 26.2C21.47 26.2 26.4 21.28 26.4 15.2C26.4 9.12 21.47 4.2 15.4 4.2C9.32 4.2 4.4 9.12 4.4 15.2C4.4 21.28 9.32 26.2 15.4 26.2Z" /></svg>
							a(href="#") Корзина: пока пуста
									<svg viewBox="0 0 41 38" width="41" height="38"><path d="M40.59 16.26C40.59 17.09 39.92 17.76 39.09 17.76L38.78 17.76L37.07 23.74C37.44 24.01 37.7 24.43 37.7 24.93C37.7 25.72 37.08 26.35 36.3 26.41L32.99 38L7.6 38L4.29 26.41C3.51 26.35 2.89 25.72 2.89 24.93C2.89 24.43 3.15 24.02 3.53 23.74L1.82 17.76L1.5 17.76C0.67 17.76 0 17.09 0 16.26C0 15.43 0.67 14.76 1.5 14.76L7.8 14.76L14.62 1.13C14.99 0.39 15.89 0.09 16.63 0.46C17.37 0.83 17.67 1.73 17.3 2.47L11.16 14.76L29.43 14.76L23.29 2.47C22.92 1.73 23.22 0.83 23.96 0.46C24.7 0.09 25.6 0.39 25.97 1.13L32.79 14.76L39.09 14.76C39.92 14.76 40.59 15.43 40.59 16.26ZM33.18 26.43L7.41 26.43L9.86 35L30.73 35L33.18 26.43ZM35.66 17.76L4.94 17.76L6.56 23.43L34.03 23.43L35.66 17.76Z" /></svg>
				.under-nav
					a(href="#") Новые поступления
					a(href="#") Распродажа
					span
					a(href="#") Бесплатная доставка
				.under-nav-tablet
					a(href="catalog.html") Каталог товаров
					a(href="form.html") Вязание на заказ
					span
					a(href="#") Бесплатная доставка
				.navbar-popup
				.main-img
					h1 Милые штучки ручной работы для дома
					picture
						source(media="(max-width: 800px)" srcset="../img/hero-mobile.png")
						img(src="../img/hero-desktop.png", alt="house")
				.interior
					.int
						h3 Предметы интерьра
						<svg viewBox="0 0 80 125" width="80" height="125"><path class="shp0" d="M30.36 76.09C29.78 78.03 29.87 80.48 30.41 83.37C31.4 88.64 33.78 95.45 35.13 102.71L45.25 102.71C46.64 95.43 49.15 88.61 50.19 83.35C50.77 80.46 50.85 78.03 50.27 76.11C49.72 74.31 48.49 72.88 46.23 71.51L34.24 71.51C32.09 72.86 30.89 74.29 30.36 76.09ZM54.02 116.08L26.42 116.08C23.83 116.08 21.82 118.04 21.82 120.54L21.82 125L26.42 125L54.02 125L58.62 125L58.62 120.54C58.62 118.04 56.6 116.08 54.02 116.08ZM68.28 4.64L44.82 4.64C44.82 2.15 42.79 0.18 40.22 0.18C37.65 0.18 35.62 2.15 35.62 4.64L12.15 4.64L0 55.67C1.59 54.75 3.18 53.68 5.26 53.68C7.98 53.68 9.75 55.32 11.11 56.44C12.48 57.55 13.43 58.13 14.01 58.13C14.59 58.14 15.54 57.56 16.91 56.46C18.27 55.36 20.03 53.75 22.74 53.75C25.43 53.75 27.21 55.36 28.58 56.45C29.94 57.55 30.9 58.13 31.48 58.13C31.77 58.13 32.15 57.99 32.64 57.7C33.12 57.42 33.7 57 34.38 56.45C35.4 55.63 36.66 54.52 38.36 54.01C38.93 53.84 39.54 53.74 40.22 53.74C42.91 53.74 44.69 55.35 46.06 56.45C47.42 57.55 48.38 58.13 48.96 58.13C49.53 58.13 50.49 57.54 51.85 56.43C53.22 55.33 54.99 53.7 57.7 53.7C60.41 53.7 62.18 55.33 63.54 56.44C64.22 56.99 64.8 57.42 65.28 57.7C65.76 57.99 66.15 58.13 66.43 58.13C67.01 58.13 67.96 57.55 69.32 56.42C70.68 55.31 72.45 53.66 75.17 53.66C77.26 53.66 78.85 54.72 80.44 55.65L68.28 4.64ZM47.05 107.17L33.32 107.17C32 107.17 31.02 108.13 31.02 109.4C31.02 110.67 32 111.63 33.32 111.63L47.12 111.63C48.43 111.63 49.42 110.67 49.42 109.4C49.42 108.13 48.43 107.17 47.12 107.17L47.05 107.17ZM40.22 58.2C39.93 58.2 39.54 58.35 39.06 58.63C38.75 58.81 38.32 59.15 37.92 59.45L37.92 66.91L42.52 66.91L42.52 59.45C41.51 58.69 40.7 58.2 40.22 58.2Z" /></svg>
					.toy
						h3 Детские игрушки
						<svg viewBox="0 0 120 119" width="120" height="119"><path d="M44.37 6.33C44.37 2.71 51.29 -0.24 59.83 -0.24C68.37 -0.24 75.28 2.71 75.28 6.33C75.28 9.97 68.37 12.91 59.83 12.91C51.29 12.91 44.37 9.97 44.37 6.33ZM120 40.84L120 87.12L65.11 119L65.11 72.71L120 40.84ZM115.06 31.81L60.36 63.58L5.29 31.6L17.2 24.7L17.2 29.54C17.2 33.18 24.12 36.12 32.65 36.12C41.19 36.12 48.1 33.18 48.1 29.54L48.1 21.42L48.06 21.42C47.54 24.85 40.85 27.57 32.65 27.57C24.12 27.57 17.2 24.62 17.2 21C17.2 17.36 24.12 14.42 32.65 14.42C33.37 14.42 34.07 14.46 34.76 14.49L44.37 8.91L44.37 14.88C44.37 15.76 44.78 16.59 45.5 17.35C46.09 17.72 46.58 18.12 46.97 18.52C49.74 20.29 54.47 21.46 59.83 21.46C68.37 21.46 75.28 18.51 75.28 14.88L75.28 8.71L85.23 14.48C85.88 14.44 86.55 14.42 87.23 14.42C95.78 14.42 102.69 17.36 102.69 21C102.69 24.62 95.78 27.57 87.23 27.57C79.03 27.57 72.35 24.85 71.83 21.42L71.78 21.42L71.78 29.54C71.78 33.18 78.7 36.12 87.23 36.12C95.78 36.12 102.69 33.18 102.69 29.54L102.69 24.64L115.06 31.81ZM75.41 36.85L75.36 36.85C74.84 40.28 68.15 43 59.95 43C51.75 43 45.06 40.28 44.54 36.85L44.49 36.85L44.49 44.97C44.49 48.6 51.42 51.54 59.95 51.54C68.49 51.54 75.41 48.6 75.41 44.97L75.41 36.85ZM0 40.42L54.88 72.3L54.88 118.99L0 87.12L0 40.42Z" /></svg>
			.zigzag
				<svg viewBox="0 0 2300 68" width="2300" height="68"><path d="M2242.5 0C2213.75 0 2213.75 28 2185.01 28C2156.26 28 2156.26 0 2127.51 0C2098.76 0 2098.76 28 2070.01 28C2041.26 28 2041.26 0 2012.51 0C1983.77 0 1983.77 28 1955.02 28C1926.27 28 1926.27 0 1897.52 0C1868.77 0 1868.77 28 1840.02 28C1811.27 28 1811.27 0 1782.53 0C1753.78 0 1753.78 28 1725.03 28C1696.28 28 1696.28 0 1667.53 0C1638.79 0 1638.79 28 1610.04 28C1581.29 28 1581.29 0 1552.54 0C1523.8 0 1523.8 28 1495.05 28C1466.3 28 1466.3 0 1437.56 0C1408.81 0 1408.81 28 1380.06 28C1351.32 28 1351.32 0 1322.57 0C1293.83 0 1293.83 28 1265.08 28C1236.33 28 1236.33 0 1207.58 0C1178.83 0 1178.83 28 1150.08 28C1121.33 28 1121.33 0 1092.58 0C1063.84 0 1063.84 28 1035.09 28C1006.34 28 1006.34 0 977.59 0C948.84 0 948.84 28 920.09 28C891.34 28 891.34 0 862.59 0C833.84 0 833.84 28 805.09 28C776.34 28 776.34 0 747.58 0C718.83 0 718.83 28 690.08 28C661.33 28 661.33 0 632.58 0C603.83 0 603.83 28 575.08 28C546.33 28 546.33 0 517.57 0C488.83 0 488.83 28 460.08 28C431.33 28 431.33 0 402.58 0C373.83 0 373.83 28 345.08 28C316.32 28 316.32 0 287.57 0C258.81 0 258.81 28 230.06 28C201.3 28 201.3 0 172.55 0C143.79 0 143.79 28 115.04 28C86.28 28 86.28 0 57.52 0C28.76 0 28.76 28 0 28L0 68L2300 68L2300 28C2271.25 28 2271.25 0 2242.5 0Z" /></svg>
			.baskets
				.bask-text
					h2 Вязанные корзинки
					p Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трех размерах.
					table
						tr
							td Цвет:
							td "Тифани"/серый
						tr
							td Диаметр:
							td 25см
						tr
							td Высота:
							td 15см
				.bask-img
			.about
			.reviews
			.contacts

			.footer
				.footer__wrapper
					.footer__item


script(src="../js/jquery.min.js")
script(src="../js/magnific.js")
script(src="../js/owl.carousel.min.js")
script(src="../js/common.js")