body 
	font-family: "Open Sans"
	font-weight: 400
	box-sizing: border-box
	margin: 0

.button 
	padding: 10px
	border: 2px solid #444
	font-size: 17px
	font-weight: 700
	&:hover
		background: #444444
		color: #ffffff
	&:active
		color: #8e8e8e

.footer
	margin: 100px
	background: url(../img/svg/1mishka-logo-desktop.svg) no-repeat
	width: 200px
	height: 200px
	svg 
		.shp0
			opacity: 1.5
		.shp1 
			fill: red
	.footer_wrapper
		margin: 100px

		